<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>SamuelLLllL</title>
  </header>


<h1>El Medio Ambiente</h1>


  <body>

    <h2>Bienvenido a mi pagina del Medio Ambiente</h2>
    <h2>Protejamos el Medio Ambiente</h1>

  <body>
    <h3>¿Qué puedes hacer para ayudar?</h3>
    <ul>
      <li>Reciclar</li>
      <li>Reducir el uso de plásticos</li>
      <li>Ahorrar agua y energía</li>
      <li>Participar en actividades de limpieza</li>
    </ul>

    <h3>¿Por qué es importante cuidar el medio ambiente?</h3>
    <p>
      Cuidar el medio ambiente es esencial para preservar la biodiversidad,
    </p>
      mantener la salud del planeta y garantizar un futuro sostenible para las
    </p>
      próximas generaciones.
  
    <head>
  <meta charset="UTF-8">
  <title>ideas</title>
</head>
<body>

  <div class="contenedor-boton">
    <a href="/ideas">
      <button class="mi-boton" id="boton-ideas">Publica tus ideas</button>
    </a>
  </div>
  </body>



</html>
